<div>
  <h2>My Fridge has the following:</h2>
</div>
<table align="center" border='2px'>
  <tr style="text-align: center">
    <!-- <td>ID</td> -->
    <td>NAME</td>
    <td>QTY</td>
    <td>DESCRIPTION</td>
  </tr>
  <tr *ngFor="let item of items">
    <!-- <td >{{item.id}}</td> -->
    <td>{{item.name | titlecase}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.description}}</td>
    <td>
      <button 
        name="{{item.id}}-{{item.name}}"
        [class.selected]="item === editingItem"
        (click)=editItem(item)
      >
        edit
      </button>
    </td>
    <td>
      <button name="{{item.id}}-{{item.name}}">delete</button>
    </td>
  </tr>
</table>
<app-edit-item-detail [item]="editingItem"></app-edit-item-detail>